.content {
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 640px) {
    height: 100vh;
    overflow: hidden;
  }
}

.footer {
  text-align: center;
  background: transparent;
  margin: 0 auto;
}
